jobmanager.rpc.address: $JOBMANAGER_RPC_ADDRESS
jobmanager.rpc.port: $JOBMANAGER_RPC_PORT
jobmanager.heap.mb: $JOBMANAGER_HEAP_MB
jobmanager.web.port: $JOBMANAGER_WEB_PORT

taskmanager.heap.mb: $TASKMANAGER_HEAP_MB
taskmanager.numberOfTaskSlots: $TASKMANGER_SLOTS
taskmanager.memory.preallocate: $TASKMANAGER_MEMORY_PREALLOCATE
